:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --red: rgb(249, 15, 9);
  --blue: rgb(23, 65, 251);
  --skin: rgb(255, 207, 143);
  --yellow: rgb(254, 229, 84);
  --brown: rgb(138, 77, 32);
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
}

.mario-container {
  height: 29em;
  width: 17em;
}
.mario {
  height: 1em;
  width: 1em;

  /* prettier-ignore */
  box-shadow:
                8em 0em var(--black),
                9em 0em var(--black),
                10em 0em var(--black),
                11em 0em var(--black),

                4em 1em var(--black),
                5em 1em var(--black),
                6em 1em var(--black),
                7em 1em var(--black),
                8em 1em var(--red),
                9em 1em var(--red),
                10em 1em var(--white),
                11em 1em var(--red),
                12em 1em var(--black),

                3em 2em var(--black),
                4em 2em var(--red),
                5em 2em var(--red),
                6em 2em var(--red),
                7em 2em var(--red),
                8em 2em var(--red),
                9em 2em var(--white),
                10em 2em var(--red),
                11em 2em var(--white),
                12em 2em var(--black),

                2em 3em var(--black),
                3em 3em var(--red),
                4em 3em var(--red),
                5em 3em var(--red),
                6em 3em var(--red),
                7em 3em var(--red),
                8em 3em var(--red),
                9em 3em var(--black),
                10em 3em var(--black),
                11em 3em var(--black),
                12em 3em var(--black),
                13em 3em var(--black),
                14em 3em var(--black),

                2em 4em var(--black),
                3em 4em var(--red),
                4em 4em var(--red),
                5em 4em var(--red),
                6em 4em var(--red),
                7em 4em var(--red),
                8em 4em var(--black),
                9em 4em var(--black),
                10em 4em var(--black),
                11em 4em var(--black),
                12em 4em var(--black),
                13em 4em var(--black),
                14em 4em var(--black),

                1em 5em var(--black),
                2em 5em var(--red),
                3em 5em var(--red),
                4em 5em var(--black),
                5em 5em var(--black),
                6em 5em var(--black),
                7em 5em var(--black),
                8em 5em var(--skin),
                9em 5em var(--skin),
                10em 5em var(--skin),
                11em 5em var(--skin),
                12em 5em var(--skin),
                13em 5em var(--black),

                1em 6em var(--black),
                2em 6em var(--black),
                3em 6em var(--black),
                4em 6em var(--black),
                5em 6em var(--skin),
                6em 6em var(--skin),
                7em 6em var(--skin),
                8em 6em var(--skin),
                9em 6em var(--black),
                10em 6em var(--skin),
                11em 6em var(--black),
                12em 6em var(--skin),
                13em 6em var(--black),

                1em 7em var(--black),
                2em 7em var(--skin),
                3em 7em var(--black),
                4em 7em var(--black),
                5em 7em var(--skin),
                6em 7em var(--skin),
                7em 7em var(--skin),
                8em 7em var(--skin),
                9em 7em var(--black),
                10em 7em var(--skin),
                11em 7em var(--black),
                12em 7em var(--black),
                13em 7em var(--black),

                0em 8em var(--black),
                1em 8em var(--skin),
                2em 8em var(--skin),
                3em 8em var(--black),
                4em 8em var(--black),
                5em 8em var(--black),
                6em 8em var(--skin),
                7em 8em var(--skin),
                8em 8em var(--skin),
                9em 8em var(--skin),
                10em 8em var(--skin),
                11em 8em var(--skin),
                12em 8em var(--skin),
                13em 8em var(--skin),
                14em 8em var(--black),

                0em 9em var(--black),
                1em 9em var(--skin),
                2em 9em var(--skin),
                3em 9em var(--skin),
                4em 9em var(--black),
                5em 9em var(--skin),
                6em 9em var(--skin),
                7em 9em var(--black),
                8em 9em var(--skin),
                9em 9em var(--skin),
                10em 9em var(--skin),
                11em 9em var(--skin),
                12em 9em var(--skin),
                13em 9em var(--skin),
                14em 9em var(--black),

                1em 10em var(--black),
                2em 10em var(--skin),
                3em 10em var(--skin),
                4em 10em var(--skin),
                5em 10em var(--skin),
                6em 10em var(--black),
                7em 10em var(--black),
                8em 10em var(--black),
                9em 10em var(--black),
                10em 10em var(--skin),
                11em 10em var(--skin),
                12em 10em var(--skin),
                13em 10em var(--black),
                14em 10em var(--black),

                2em 11em var(--black),
                3em 11em var(--black),
                4em 11em var(--skin),
                5em 11em var(--skin),
                6em 11em var(--skin),
                7em 11em var(--skin),
                8em 11em var(--black),
                9em 11em var(--black),
                10em 11em var(--black),
                11em 11em var(--black),
                12em 11em var(--black),
                13em 11em var(--black),

                3em 12em var(--black),
                4em 12em var(--black),
                5em 12em var(--black),
                6em 12em var(--skin),
                7em 12em var(--skin),
                8em 12em var(--skin),
                9em 12em var(--skin),
                10em 12em var(--skin),
                11em 12em var(--skin),
                12em 12em var(--black),

                2em 13em var(--black),
                3em 13em var(--red),
                4em 13em var(--red),
                5em 13em var(--red),
                6em 13em var(--black),
                7em 13em var(--black),
                8em 13em var(--black),
                9em 13em var(--black),
                10em 13em var(--black),
                11em 13em var(--black),
                12em 13em var(--black),
                14em 13em var(--black),
                15em 13em var(--black),
                16em 13em var(--black),

                1em 14em var(--black),
                2em 14em var(--red),
                3em 14em var(--red),
                4em 14em var(--red),
                5em 14em var(--red),
                6em 14em var(--red),
                7em 14em var(--black),
                8em 14em var(--black),
                9em 14em var(--red),
                10em 14em var(--red),
                11em 14em var(--black),
                12em 14em var(--black),
                13em 14em var(--black),
                14em 14em var(--white),
                15em 14em var(--white),
                16em 14em var(--black),

                0em 15em var(--black),
                1em 15em var(--red),
                2em 15em var(--red),
                3em 15em var(--red),
                4em 15em var(--black),
                5em 15em var(--black),
                6em 15em var(--black),
                7em 15em var(--blue),
                8em 15em var(--black),
                9em 15em var(--red),
                10em 15em var(--red),
                11em 15em var(--red),
                12em 15em var(--black),
                13em 15em var(--black),
                14em 15em var(--black),
                15em 15em var(--white),
                16em 15em var(--black),

                0em 16em var(--black),
                1em 16em var(--red),
                2em 16em var(--red),
                3em 16em var(--black),
                4em 16em var(--white),
                5em 16em var(--white),
                6em 16em var(--white),
                7em 16em var(--black),
                8em 16em var(--blue),
                9em 16em var(--black),
                10em 16em var(--red),
                11em 16em var(--red),
                12em 16em var(--red),
                13em 16em var(--black),
                14em 16em var(--black),
                15em 16em var(--white),
                16em 16em var(--black),

                0em 17em var(--black),
                1em 17em var(--red),
                2em 17em var(--black),
                3em 17em var(--white),
                4em 17em var(--white),
                5em 17em var(--white),
                6em 17em var(--white),
                7em 17em var(--white),
                8em 17em var(--black),
                9em 17em var(--blue),
                10em 17em var(--black),
                11em 17em var(--black),
                12em 17em var(--black),
                13em 17em var(--black),
                14em 17em var(--black),
                15em 17em var(--black),

                1em 18em var(--black),
                2em 18em var(--black),
                3em 18em var(--white),
                4em 18em var(--white),
                5em 18em var(--white),
                6em 18em var(--white),
                7em 18em var(--white),
                8em 18em var(--black),
                9em 18em var(--yellow),
                10em 18em var(--blue),
                11em 18em var(--blue),
                12em 18em var(--blue),
                13em 18em var(--yellow),
                14em 18em var(--black),

                2em 19em var(--black),
                3em 19em var(--black),
                4em 19em var(--white),
                5em 19em var(--white),
                6em 19em var(--white),
                7em 19em var(--black),
                8em 19em var(--blue),
                9em 19em var(--blue),
                10em 19em var(--blue),
                11em 19em var(--blue),
                12em 19em var(--blue),
                13em 19em var(--blue),
                14em 19em var(--black),

                2em 20em var(--black),
                3em 20em var(--blue),
                4em 20em var(--black),
                5em 20em var(--black),
                6em 20em var(--black),
                7em 20em var(--blue),
                8em 20em var(--blue),
                9em 20em var(--blue),
                10em 20em var(--blue),
                11em 20em var(--blue),
                12em 20em var(--blue),
                13em 20em var(--blue),
                14em 20em var(--black),
                15em 20em var(--black),

                2em 21em var(--black),
                3em 21em var(--blue),
                4em 21em var(--blue),
                5em 21em var(--blue),
                6em 21em var(--blue),
                7em 21em var(--blue),
                8em 21em var(--blue),
                9em 21em var(--blue),
                10em 21em var(--blue),
                11em 21em var(--blue),
                12em 21em var(--blue),
                13em 21em var(--black),
                14em 21em var(--brown),
                15em 21em var(--brown),
                16em 21em var(--black),

                2em 22em var(--black),
                3em 22em var(--blue),
                4em 22em var(--blue),
                5em 22em var(--blue),
                6em 22em var(--blue),
                7em 22em var(--blue),
                8em 22em var(--blue),
                9em 22em var(--blue),
                10em 22em var(--blue),
                11em 22em var(--blue),
                12em 22em var(--black),
                13em 22em var(--brown),
                14em 22em var(--brown),
                15em 22em var(--brown),
                16em 22em var(--black),

                1em 23em var(--black),
                2em 23em var(--blue),
                3em 23em var(--blue),
                4em 23em var(--blue),
                5em 23em var(--blue),
                6em 23em var(--blue),
                7em 23em var(--blue),
                8em 23em var(--blue),
                9em 23em var(--blue),
                10em 23em var(--blue),
                11em 23em var(--blue),
                12em 23em var(--black),
                13em 23em var(--brown),
                14em 23em var(--brown),
                15em 23em var(--brown),
                16em 23em var(--black),

                0em 24em var(--black),
                1em 24em var(--brown),
                2em 24em var(--black),
                3em 24em var(--blue),
                4em 24em var(--blue),
                5em 24em var(--blue),
                6em 24em var(--blue),
                7em 24em var(--blue),
                8em 24em var(--blue),
                9em 24em var(--black),
                10em 24em var(--black),
                11em 24em var(--black),
                12em 24em var(--black),
                13em 24em var(--brown),
                14em 24em var(--brown),
                15em 24em var(--brown),
                16em 24em var(--black),

                0em 25em var(--black),
                1em 25em var(--brown),
                2em 25em var(--brown),
                3em 25em var(--black),
                4em 25em var(--blue),
                5em 25em var(--black),
                6em 25em var(--black),
                7em 25em var(--black),
                8em 25em var(--black),
                12em 25em var(--black),
                13em 25em var(--brown),
                14em 25em var(--brown),
                15em 25em var(--black),
                16em 25em var(--black),

                0em 26em var(--black),
                1em 26em var(--brown),
                2em 26em var(--brown),
                3em 26em var(--black),
                4em 26em var(--black),
                13em 26em var(--black),
                14em 26em var(--black),
                15em 26em var(--black),

                0em 27em var(--black),
                1em 27em var(--brown),
                2em 27em var(--brown),
                3em 27em var(--brown),
                4em 27em var(--black),

                1em 28em var(--black),
                2em 28em var(--black),
                3em 28em var(--black);
}
