@keyframes ldio-z6kqg2nwmsq{0%{transform:rotate(0deg)}
50%{transform:rotate(180deg)}
100%{transform:rotate(360deg)}
}.ldio-z6kqg2nwmsq div{position:absolute;animation:ldio-z6kqg2nwmsq 1s linear infinite;width:160px;height:160px;top:20px;left:20px;border-radius:50%;box-shadow:0 4px 0 0 #0841ab;transform-origin:80px 82px}
.loadingio-spinner-eclipse-o78o8tpvu1p{width:200px;height:200px;display:inline-block;overflow:hidden;background:#000}
.ldio-z6kqg2nwmsq{width:100%;height:100%;position:relative;transform:translateZ(0) scale(1);backface-visibility:hidden;transform-origin:0 0}
.ldio-z6kqg2nwmsq div{box-sizing:content-box}
.loader-wrapper{position:fixed;width:100%;height:112vh;background:#000;z-index:99999;margin-top:-50px;cursor:progress;display:flex;justify-content:center;align-items:center}
