/* ROBOT.GIF from Gifer - https://gifer.com/en/YseV */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #bbd2ef;
}

.container {
  height: 100vh;
  width: 100vW;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background: url('./robot.gif');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  outline: none;
  padding: 10px;
  width: 200px;
  height: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  background: #1d1d3b;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-inline-end: 20%;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  cursor: default;
  filter: brightness(30%);
}

@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
